<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>hui-ui</title>
	<link rel="stylesheet" type="text/css" href="/app/public/hui/H-ui.css">
	<script src="/app/public/hui/H-ui.js"></script>
</head>
<body>
	<!-- 导航 -->
	<div class="sideBox">
	  <div class="sideTool cl">
	    <a href="javascript:void(0);" class="iReadMode cl"><span class="inight"><i></i></span><span class="iday"><i></i></span></a>
	  </div>
	</div>

	<div class="containBox">
		<div class="containBox_opbg" ></div>
		<header class="header_top">
		  <div class="Hui-wraper">
		    <nav class="header-nav l"> 
		    	<a href="/../cases/article/index.shtml" class="home l"><i></i>H-ui</a>
		    	<a href="/../cases/article/list.shtml" class="l">资讯</a> 
		    </nav>
		    <a href="#" class="h-download"><i></i>客户端</a> <i class="tmBtn"></i>
		  </div>
		</header>
		<nav class="mainnav">
		  <ul class="cl">
		    <li><a href="#">直播</a></li>
		    <li><a href="#">资讯</a></li>
		    <li><a href="#">体育</a></li>
		    <li><a href="#">娱乐</a></li>
		    <li><a href="#">图片</a></li>
		    <li><a href="#">视频</a></li>
		    <li><a href="#">社会</a></li>
		    <li><a href="#">情感</a></li>
		    <li><a href="#">猎奇</a></li>
		    <li><a href="#">美女</a></li>
		  </ul>
		</nav>
	</div>


</body>
</html>