<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>hui-ui</title>
	<link rel="stylesheet" type="text/css" href="/app/public/h-ui/css/H-ui.css">
	<link rel="stylesheet" type="text/css" href="/app/public/h-ui/iconfont/iconfont.css" />
	<script src="/app/public/static/js/jquery-1.8.3.min.js"></script>
	<script src="/app/public/h-ui/js/H-ui.js"></script>
	
</head>
<body>

			<section class="share cl">
				<div class="bdsharebuttonbox Hui-share">
					<span class="share-text Hui-iconfont">&#xe715;</span>
					<a href="#" class="bds_weixin Hui-iconfont" data-cmd="weixin" title="分享到微信">&#xe694;</a>
					<a href="#" class="bds_qzone Hui-iconfont" data-cmd="qzone" title="分享到QQ空间">&#xe6c8;</a>	
					<a href="#" class="bds_sqq Hui-iconfont" data-cmd="sqq" title="分享到QQ好友">&#xe67b;</a>
					<a href="#" class="bds_tsina Hui-iconfont" data-cmd="tsina" title="分享到新浪微博">&#xe6da;</a>
					<a href="#" class="bds_tqq Hui-iconfont" data-cmd="tqq" title="分享到腾讯微博">&#xe6d9;</a>
					<a href="#" class="bds_douban Hui-iconfont" data-cmd="douban" title="分享到豆瓣网">&#xe67c;</a>
				</div>
				<script type="text/javascript">
				// window._bd_share_config={
				// 	"common":{
				// 		"bdSnsKey":{},
				// 		"bdText":'this is bdtext',
				// 		"bdMini":"2",
				// 		"bdMiniList":false,
				// 		"bdPic":"http://m.hzmylike.com/Public/Uploads/Admin/2017-10-19/59e84e95562b5.png",
				// 		"bdStyle":"0",
				// 	},
				// 	"share":{},
				// 	"image":{
				// 		"viewList":["weixin","qzone","sqq","tsina","tqq","douban"],
				// 		"viewText":"分享到：","viewSize":"16"},
				// 	"selectShare":{
				// 		"bdContainerClass":null,
				// 		"bdSelectMiniList":["weixin","qzone","sqq","tsina","tqq","douban"]
				// 	}
				// };

				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
				</script>
			</section>








				<!-- JiaThis Button BEGIN -->
				<!-- <div class="jiathis_style_24x24 Hui-share cl">
					<a class="jiathis_button_weixin Hui-iconfont">&#xe694;</a>
					<a class="jiathis_button_cqq Hui-iconfont">&#xe67b;</a>
					<a class="jiathis_button_tqq Hui-iconfont">&#xe6d9;</a>
					<a class="jiathis_button_tsina Hui-iconfont">&#xe6da;</a>
					<a class="jiathis_button_qzone Hui-iconfont">&#xe6c8;</a>
					<a class="jiathis_button_douban Hui-iconfont">&#xe67c;</a>
					<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis Hui-iconfont" target="_blank">&#xe715;</a>
					<a class="jiathis_counter_style"></a>
				</div>
				<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
				<script type="text/javascript">
					var jiathis_config = {
						title:"H-ui前端框架 #前端框架#",
						pic:"http://static.h-ui.net/h-ui/images/logo-big.jpeg",
						summary:"架起设计与后端的桥梁轻量级前端框架，简单免费，兼容性好，服务中国网站。",
					}
				</script> -->
</body>
</html>